@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply h-full bg-[#303030] text-white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #303030;
}

::-webkit-scrollbar-thumb {
    background: #ffdd29;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #212121;
}
